body {
  /* background-image: url("mosque-interior-186854443-fda5270a665f4807a0dba30b17dc79df.jpg"); */
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
  /* text-shadow: 1px 1px white; */
  
}

*{
  padding:0px;
  margin:0px;


}
#signupDetail{
display: flex;
padding: 10px;
align-items: center;
justify-content: space-between;
}
#signupDetail p {
  font-weight: bold;

}
#signupEmail, #signupName {
  color: darkblue;
  font-weight: bold;
}

/* Add a color to the cancel button */
.closebutton {
  background-color: darkslategray;
  color: white;
  padding: 15px;
  float: left;
  /* width: 30%; */
  margin-right: 5px;
  border: 1px solid white;


}

/* Add a color to the delete button */
/* .loggingbutton {
  background-color: darkslategray;
  float: right;
  width: 30%;
  padding: 5px;
  margin-left: 5px;
  color: white;

} */

/* Add padding and center-align text to the container */
.loginModalcontainer {
  padding: 16px;
  text-align: center;
  

}
.loginModalcontainer > h1 {
  color: black;
  font-size: large;

}
#clickedEntryDetails{
  /* background-color: #060606; */
}
.loginModalcontainer > p {
  color: black;

}

.container{
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(211, 211, 218);
  border: 1px solid black;
}
/* #span{
  color: red;
  font-weight: bold;
  font-size: large;
} */
/* The Modal (background) */
.loginModal {
  display: none; /* Hidden by default */
  /* left: 50;
right: 50; */
background-color: darkslategray;

left: 0;
  top: 0;
  max-width: 70%; /* Full width */
  position: fixed; /* Stay in place */
  border: 1px solid #888;
  /* overflow: auto;  */
  padding-top: 0px;
  /* margin-top: 20%; */
  text-align: center;
/* margin-left: auto;
margin-right: auto; */
width: 20%; /* Could be more or less, depending on screen size */
border-radius: 5%;

transform: translate(calc(50vw - 50%), calc(40vh - 50%));
}
#newlyDiv{
  color: white;
  font-size: large;
  font-weight: bolder;
}

/* Modal Content/Box */
.loginModal-content {
  margin: 0% auto 0% auto; /* 5% from the top, 15% from the bottom and centered */

  width: 100%; /* Could be more or less, depending on screen size */
  border-radius: 5%;

}
.loginClearfix::after {
  content: "";
  clear: both;
  display: table;
  
}
/* Add a color to the cancel button */
.cancelbtn {
  background-color: darkslategray;
  color: white;
  padding: 5px;
  float: left;
  width: 30%;
  margin-right: 5px;


}

/* Add a color to the delete button */
.deletebtn {
  background-color: darkslategray;
  float: right;
  width: 30%;
  padding: 5px;
  margin-left: 5px;
  color: white;

}

/* Add padding and center-align text to the container */
.modalcontainer {
  padding: 16px;
  text-align: center;
  

}
.modalcontainer > h1 {
  color: black;
  font-size: large;

}
.modalcontainer > p {
  color: black;

}
#span{
  color: red;
  font-weight: bold;
  font-size: large;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  /* left: 50;
right: 50; */

left: 0;
  top: 0;
  max-width: 70%; /* Full width */
  position: fixed; /* Stay in place */

  /* overflow: auto;  */
  padding-top: 0px;
  /* margin-top: 20%; */
  text-align: center;
/* margin-left: auto;
margin-right: auto; */
transform: translate(calc(50vw - 50%), calc(40vh - 50%));
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0% auto 0% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
  border-radius: 5%;

}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  
}
#gify {
  /* animation: blinker 1s linear infinite; */
  width: 10%;
  border-radius: 50px;
}
#home{
  max-width: 99%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
 margin-left: auto;
 margin-right: auto;
 /* margin-top: 15%; */
  text-align: center;
  /* background-color: wheat; */
/* border: 2px solid black; */
  
}
#warningSign{
  /* margin-top: 10%; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15%;
  align-items: center;
  
}
#loginMessageBtn{
  font-size: 15px;
  margin: 10px;
}
#warningSignDiv{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;


}
/* @keyframes blinker {
  50% {
    opacity: 0;
  }
} */ 
#logo{
  width: 10%;
  border-radius: 5px;
  /* aspect-ratio: 2/3; */
  
}
.navBarUl li{
  /* background-color: inherit; */
  /* color: white; */
  font-weight: bold;
  border-radius: 10px;
  /* background-color: white; */
  color: black;
  text-decoration: none;
  margin: 5px 20px;
  padding: 5px 15px;
  list-style-type:none;
  cursor: pointer;
}

.navBarUl li:hover{
  background-color: black;
  color: white;
  font-weight: bold;

}
/* .navBar nav{
max-width: 100%;

} */
.navBar{
  /* display: block; */
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content:space-evenly;
/* background-color: rgb(1, 1, 66); */
background-color: #403a4b;

padding: 10px 10px;
margin: 1px ;
/* height: 10vh; */
/* max-width: 50%; */
}
.navBarUl{
  display: flex;
  max-width: 100%;
  /* background-color: #ede8f7; */
  background-color: #e7e1f4;

  border-radius: 10px;

}
#newEntry{
  border:  1px solid black;
  margin: 5px 
}
#ItemDiv{
  display: flex;
  flex-direction: column;
}
#ItemDiv > p:last-child {
 color: red;
}
.main{



}
/* css for sign up and sign in tab */
.tabPage {
overflow: hidden;
border: 1px solid #ccc;
background-color: #f1f1f1;
border-radius: 5%;
margin-bottom: 5%;
display: flex;
justify-content: space-evenly;
/* width: f; */

}

/* Style the buttons inside the tab */
.tabPage button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-size: 17px;

}

/* Change background color of buttons on hover */
.tabPage button:hover {
background-color: #ddd;
}
/* #changeProfilePic{
display: flex;
} */
/* Create an active/current tablink class */
.tabPage button.active {
background-color: #ccc;

}

/* Style the tab content */
.tabcontentPage {
display: none;
padding: 6px 12px;
/* border: 1px solid #ccc; */
border-top: none;
}


#signin-page input {
/* padding: 3%; */
max-width: 100%;
padding: 8px;
border-radius: 10px;
margin-top: 3px;
margin-bottom: 3px;

}
#signup-page input {
  /* padding: 3%; */
  max-width: 100%;
  padding: 8px;
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  
  }


#signup-container{
border-radius: 10%;
display: none;
flex-direction: column;
position: fixed;
align-items: center;
background-color: rgb(29, 27, 27);
padding: 2%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
width: 20%;
top: 0;
left: 0;
transform: translate(calc(49vw - 50%), calc(50vh - 50%));
}

#signup-page h1 {
text-align: center;
margin-bottom: 10%;
}

#signup-evalidation, #signin-evalidation{
color: rgb(255, 0, 0);
display: none;
flex-direction: column;
}
#signup-evalidation p, #signin-evalidation p{
color: rgb(255, 0, 0);
padding: 0%;
margin: 0%;
}

/* #email {
margin-bottom: 3%;
} */

#signUp , #signin{
margin-bottom: 10px;
/* margin-right: auto;
margin-left: auto; */
background: linear-gradient(90deg, #FFFFFF 0%, #FDA43C 100%);

  border-radius: 10px; 
     color: black;
  transition: all 150ms ease-in-out;
  box-shadow: 0px 2px 1px rgb(255, 254, 254);
border: 1px solid black;
  padding: 5px 5px;
  font-weight: bold;
  width: 40%;
margin-top: 10% !important;

}
#loginDatesDiv{
  /* background-color: #060606; */
}
 #loginMessageBtn{
  margin-bottom: 10px;
  /* margin-right: auto;
  margin-left: auto; */
  background-color: #403a4b;
  
    border-radius: 10px; 
       color: white;
    transition: all 150ms ease-in-out;
    box-shadow: 0px 2px 1px rgb(255, 254, 254);
  border: 1px solid black;
    padding: 10px 15px;
    font-weight: bold;
    /* width: 40%; */
  /* margin-top: 10% !important; */
  
  }
  .appName{
    font-size: 35px;
    font-weight: bold;
  }
  ::-webkit-input-placeholder {
    text-align: center;
  }

/* #signUp {
width: 55%;
margin-top: 10%;
} */
#signin-page{
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  
  padding: 10px 10px;
  max-width: 100%;
  /* border-bottom: 1px solid white; */
  
  }
#signup-page{
/* border-top: 1px solid white; */

display: none;
flex-direction: column;
max-width: 100%;
justify-content: space-between;
align-items: center;

}
/* #signup-container {

text-align: center;
border-radius: 5%;

} */
#notCheckedWarning{
color: red;
display: none;
width: fit-content;
}

#signup-page label{
  margin: 10px 0px;
color: whitesmoke;
}
#logoutBtn{
display: none;
margin-bottom: 10px;
/* margin-right: auto;
margin-left: auto; */
background-color: #403a4b !important;

  border-radius: 10px; 
     color: white;
  transition: all 150ms ease-in-out;
  box-shadow: 0px 2px 1px rgb(6, 6, 6);
border: 1px solid black;
  padding: 5px 10px;
  font-weight: bold;
  max-width: fit-content;
}
#logoutBtn:active{
background: white;
color: black;

}






/* end of css of signup and signin */
[data-tab-content] {
  display: none;
  border-radius: 10px; 
  padding: 10px;
  max-width: 95%; 
  min-height: 30vh;

  
}
#userVocabListEl div {
list-style-type: none;
margin: 5px;
padding: 0px;
display: flex;

gap: 10px;
align-items: center;
justify-content: center;
border: 1px solid black;

}
#userVocabListEl p {
text-align: center;
font-size: medium;
margin-left: auto;
margin-right: auto;

}
#loginDateElement{
  color: red;
  font-size: 13px;
  margin: 10px 5px;

  
}

#logOutDateElement{
  font-size: 13px;
  margin: 10px 5px;
color: blue;
}
#smallerNewEntryDiv{
  display: flex;
  justify-content: space-around;
  margin: 10px 5px;
  cursor: pointer;
  
}
#newEntry{
  display: flex;
  flex-direction: column;
  padding: 5px
  
  
}

#logInandLogOutDiv{
  display: flex;
  justify-content: space-around;
  
/* background-color: blueviolet; */

}
/* #addCount-btn{
  

} */

span{
  margin:5px 10px;
  padding:0px;
  cursor: pointer;

}
#divTr{
  display: flex;
  /* flex-direction: column-reverse; */
  /* flex-wrap: wrap; */
  gap: 0px 0px;
  border: 1px solid black;
  /* background-color: antiquewhite; */
  max-width: fit-content;
  padding: 5px;
  margin: 3px 10px;
  align-items: center;
  justify-content: center;



}
#InputElName{
  color: white;
  margin-bottom: 30px;
}
input{
  padding: 10px;
}
#div{
  display: block;
  /* background-color: white; */
  color: white;
  /* background-color: black; */
}
/* #reset{
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;
} */
#logInBtn, #reset, #close{
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 5px;

}
#logInBtn, #LogOutBtn{
  margin: 30px;
}
#LoginDateMessage, #LogOutDateMessage{
  border: 1px solid white;
  padding:  10px 5px;
  font-size: small;

}
#LogOutDateMessage{
  margin-bottom:  10px;

}
/* #increament{
 float: left;
 
} */
#close{
  float: left;

}
/* fa fa-trash */
#btnConfirm{
  font-size: 50px;
  border: none;
  background: none;
}
#logInBtn:focus ,#reset:focus{
  background-color: black;
  color: white;
  border:1px solid white;
}
.form{
  margin: 50px 0px 0px 0px;

}
#noEntry{
  margin: 50px 0px 0px 0px;

}
#CountDiv{
  background-color: black;
  margin-bottom: 30px;
  color: white;
display: block;
}
#result{
  margin: 20px 10px;
  font-size: 40;
  font-weight: bold;


}
#save-el{
  color: black;
  display: flex;
  max-width: 100%;
  margin: 10px 0px 0px 0px;
  padding: 10px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;

}

#delete-btn{
  color: white;
  max-width: max-content;
 padding: 5px;
  background-color: black;
  border-radius: 5px;
  
}

/* #save-el li{
  list-style: none;
  margin: 1px 5px;
} */
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 50px;
  color: black;
}

/* h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
} */




#increment-btn {
  background: darkred;
}

#save-btn {
  background: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
@media screen and (max-width: 600px) {
  #home{
  min-height: 98vh;

  }
 .main{
  max-width: 98%;
  /* background-color: black; */
  /* min-height: 98vh; */

 } 
 .form{
  margin: 50px 0px 0px 0px;

}
.disabled-button {
pointer-events: none;
opacity: 0.5;
/* Add any other styles you want to use to visually disable the button */
}
.entry{
  margin: 30px 0px 0px 0px;

}
#increament, #reset{
  font-size: medium;
}
#close{
  font-size: 30px;
}

#warningSign{
 
  margin-top: 40px;
  flex-direction: column;
  gap: 20px;
   
}
#logo{
  width: 18% ;
}
#gify{
  width: 20%
}
.navBarUl li{
  /* background-color: inherit; */
  /* color: white; */
 
  margin: 10px 5px;
  padding: 10px 10px;
  
}
.loginModal {
  width: 50%;
}
.container{
  max-width: 99%;
}
.navBarUl li{
margin: 0px 0px;
}
.navBarUl{
  margin: 0px 0px;
  }
#signup-container{
width: 60%;
padding: 20px;

}
#signin-page{
justify-content: center;

}

#signUp , #signin{
  width: fit-content;
}
#notCheckedWarning{
  font-size: 10px;
}

#signup-page label{
  font-size: small;
}
#signupDetail p {
  font-size: 10px;

}
#signupEmail, #signupName {
  font-size: 10px;
}
}